.root{
  -fx-base:derive(#000000,30%);
  -fx-background:-fx-base;
  -fx-control-inner-background:-fx-base;
  -fx-control-inner-background-alt:derive(-fx-base,10%);
  -fx-text-background-color:#f0ffff;
}

.button-navigation{
  -fx-border-width: 0;
  -fx-background-radius: 0;
  -fx-background-color: -fx-base;
  -fx-text-fill:-fx-text-background-color;
  -fx-font-size:14pt;
}

.button-navigation:hover {
   -fx-font-size:16pt;
   -fx-background-color:derive(-fx-base,30%);
}

.button-navigation:focused{
  -fx-border-color:derive(-fx-base,70%);
  -fx-border-width:2px;

}

.button-common{
   -fx-border-width: 0;
   -fx-background-radius: 0;
   -fx-background-color: -fx-base;
   -fx-text-fill:-fx-text-background-color;
   -fx-font-size:10px;
}

.label{
      -fx-background-color:-fx-base;
      -fx-text-fill:-fx-text-background-color;
      -fx-font-size:16px;
}
.label-bigger{
      -fx-background-color:-fx-base;
      -fx-text-fill:-fx-text-background-color;
      -fx-font-size:20px;
}

.label-common{
   -fx-background-color: derive(-fx-base,20%);
   -fx-text-fill:-fx-text-background-color;
   -fx-font-size:18px;
}

.label-common:hover{
   -fx-font-size:20px;
   -fx-text-fill:-fx-text-background-color;
   -fx-background-color:derive(-fx-base,30%);
}

.label-common.focused{
      -fx-font-size:20px;
      -fx-background-color:derive(-fx-base,30%);
}

.text-field:{
  -fx-border-color:#f0ffff;
  -fx-background-color:derive(-fx-base,30%);
}

.table-view:{
    -fx-border-color:transparent;
    -fx-border-width: 1px;
    -fx-background-radius: 0;
    -fx-background-color: -fx-base;
    -fx-control-inner-background:-fx-base;
    -fx-font-size:18px;
}

.table-view:focused:row-selection{
    -fx-background-color:derive(-fx-base,30%);
}

.table-row-cell:focused{
  -fx-background-color:derive(-fx-base,30%);
}

.table-row-cell{
    -fx-background:-fx-control-inner-background-alt;
    -fx-background-color:-fx-table-cell-border-color;
    -fx-text-fill:-fx-text-background-color;
}

.table-view .column-header{
    -fx-background-color:-fx-base;
}

.table-view .column-header .label{
    -fx-font-size:15px;
}

.table-cell{
    -fx-text-fill:-fx-text-background-color;
    -fx-table-cell-border-color:derive(-fx-base,-30%);
    -fx-alignment:center;
}
